<li id="problem-<%= problem.id %>">
  <%= link_to gravatar_for(problem.user, size: 50), problem.user %>
  <span class="description"><%= problem.description %></span><br>
  <span class="timestamp">
    <%= time_ago_in_words(problem.created_at) %>前に投稿
  </span>
</li>