<% provide(:title, '悩み投稿') %>

<div class="container">
  <div class="post-show">
    <span class="problem-user-name"><%= current_user.name %></span><br>
    <h4 class="problem-post-description"><%= @problem.description %></h4>
  </div>
</div>