<div>
  <h4 class="sub-title"><span class="square">■</span>通知</h4>
  <% notifications = @notifications.where.not(visiter_id: current_user.id)%>
  <% if @notifications.exists? %>
    <div class="users-index">
      <%= render @notifications %>
      <%= paginate @notifications %>
    </div>
  <% else %>
    <p class="no-notification">通知はありません</p>
  <% end %>
</div>