@import "bootstrap";

//// mixin ////
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
input {
  height: auto !important;
}
footer {
  height: 70px;
  padding-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;
  .block {
    text-align: center;
  }
}

.row {
    margin-right: 0;
}

//// スマホ向け ////
html {
    height: 100%;
}

body {
    height: 100%;
}

//// header ////
.navbar {
  height: 140px;
}

#title {
  font-size: 50px;
  padding-left: 10px;
  color: rgb(127, 255, 0);
}

#subtitle {
  background-color: #f8f9fa;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

#navbarSupportedContent li {
  font-size: 20px;
  padding: 10px;
  color: rgba(0, 0, 0, 0);
}

.link-color {
    color: darkcyan;
    font-weight: 600;
    font-size: 20px;
}

//// main ////
#title-image {
  display:inline-block;
  position: relative;
   img{
     max-height: 1300px;
     min-height: 500px;;
     opacity: 0.3;
     display:block;
   }

   h1 {
    width: 100%;
    height: 100%;
    color: rgb(26, 105, 224);
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";

    position: absolute;
    margin: auto;
    top: 90%;
    bottom: 0;
   } 

   p {
    width: 100%; 
    height: 1.5em;
    color: rgb(26, 105, 224);
    font-weight: bold;
    text-align: center;
    font-size: 15px;

    position: absolute;
    margin: auto;
    top: 0;
    bottom: -30%;
   }
}

.help{
  height: 800px;
  margin-top: 200px;
  font-weight: bold;
  .flex {
    max-width: 1100px;
    margin: 0 auto;
  }
  img {
    width: 60%;
    height: 50%;
    display: block;
    margin: 0 auto;

  }
  h3{
    font-size: 20px;
    text-align: center;
    padding-bottom: 100px;;
  }
  h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 120px;
  }
  span {
    color: rgb(127, 255, 0);
    font-size: 60px;
  }
  p {
    text-align: center;
  }
  .description {
    line-height: 2.5;
    margin-bottom: 60px;
  }
}

.checkbox {
    margin: -10px 0 10px 0;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
}
#session_remember_me {
    width: auto;
    margin-left: 0;
}

.make {
  height: 1600px;
  h1 {
    margin-top: 400px;
    text-align: center;
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
  }
  p {
    margin-bottom: 50px;
    line-height: 1.5;
  }
  .feature-list {
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
  }
}

.feature-item {
  flex: 0 0 100%;
  max-width: 100%;
}

.go {
  text-align: center;
  .btn-primary {
    padding: 20px 40px;
    font-size: 20px;
    background: rgb(127, 255, 0);
    border-color: chartreuse;
    margin-bottom: 50px;
  }
}

//// sign_up ////
.signup-block {
  height: 1800px;
  position: relative; 
  .signup-group {
    height: 1200px;
    width: 90%;
    margin: 0;
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -45%);
}
  .sign-title {
    font-size: 50px;
    font-weight: bold;
    padding: 120px 0 60px 0;
    text-align: center;
    color: rgb(127, 255, 0);
  }
  .form-control {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
  label {
    max-width: 100%;
    font-size: 30px;
    padding: 25px 0 20px 80px;
  }
  .actions {
    text-align: center;
  }
  .btn-primary {
    font-size: 45px;
    width: 300px;
    height: 400px;
    color: #fff;
    background-color: rgb(127, 255, 0);
    border-color: rgb(127, 255, 0);
    margin: 70px 0 30px 0;
    border-radius: 20px;
    padding: 20px;
  }
}

.field_with_errors {
    input {
        @extend .is-invalid;
      }
    .form-control {
      color: rgb(243, 116, 116);
    }
  }
  
//// profilepage ////
.gravatar_edit {
  margin-left: 120px;
  a {
    padding: 0 0 10px 20px;
    color: gray;
    font-size: 16px;
}
}

img.gravatar.user-picture {
    padding-top: 100px;
}

.user-picture img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  
.user-picture-box {
    margin: 0.5em 0 0 2em;
}

.delete-account a {
    font-size: 15px;
}
  
.show-user-name {
    display: inline-block;
    padding: 30px 0 0 40px;
    font-weight: bold;
    font-size: 40px;
}

.profile-title {
    margin-top: 60px;
}

a.profile-title {
    padding-left: 35px;
    font-size: 18px;
    color: gray;
}

.profile-post-title {
    font-weight: bold;
    padding-bottom: 10px;
}
  
.profile-comment {
    padding: 10px 40px 10px 40px;
    display: block;
    word-break: break-all;
}

#user-edit {
    margin: 20px 0px 40px 18px;
}

.follow-color {
    font-size: 20px;
    color: gray;
}
.stats-second {
    margin-top: 5px;
    width: 100%;
}

//// loginpage ////
.guide {
    text-align: center;
}

//// indexpage ////
.index-summary {
    padding: 100px 0 10px 0;
    .pagination {
        margin-left: 80px;
    }
}
.users {
    list-style: none;
    margin: 0 40px;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 2px solid gainsboro;
    }
}

.line-style {
    padding: 0 20px;
}

.delete-text {
    font-size: 17px;
}

.users-title {
    font-weight: bold;
    text-align: center;
    padding: 70px 0 20px 0;
    font-size: 50px;
}

.user-name {
    font-size: 30px;
    padding-left: 10px;
}

//// paginate ////
.pagination>li>a {          
    border: none;
    color: #696969;
  }
  
  .pagination>.active>a {     
    background: #93c9ff;
    border-radius: 15px;
  }
  
  .pagination>li>a:hover {        
    border-radius: 15px;
  }

  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: darkcyan;
    border-color: darkcyan;
}

  //// postpage ////
  .posts {
    list-style: none;
    padding: 0;
    li {
      padding: 10px 0;
      border-top: 2px solid gainsboro;
   }
    .user {
      margin-top: 5em;
      padding-top: 0;
    }
    .description {
      display: block;
      word-break: break-all;
      margin-left: 65px;
      padding-top: 10px;
      font-size: 36px;
      img {
        display: block;
        padding: 5px 0;
      }
    }
    .timestamp {
      color: gray;
      display: block;
      margin-left: 60px;
      font-size: 30px;
    }
    .gravatar {
      float: left;
      margin: 5px 10px 0 0;
    }
  }

  .post-title {
      padding-top: 80px;
      font-weight: bold;
      font-size: 50px;
  }

  .title a {
    color: black;
    font-size: 40px;
    display: block;
    word-break: break-all;
 }
  
  a {
      color: black;
      font-size: 25px;
  }

  .title {
      font-weight: bold;
      font-size: 20px;
  }

  aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
    }
  }
  
  span.picture {
    margin-top: 10px;
    input {
      border: 0;
    }
  }

  .recommended {
      padding-top: 20px;
  }

  .recommend-raty {
      margin-left: 40px;
  }

  .fa-heart {
    margin-left: 30px;
    font-size: 40px;
}

  .delete-size {
      font-size: 15px;
  }

  #page {
      background-color: linen;
  }

  .delete-account {
      text-align: center;
  }

  .post-delete {
      text-align: center;
  }

  .change-post {
    display: inline-block;
    margin-bottom: 20px;
  }
  

//// post new ////
.input-need {
    color: red;
    font-size: 13px;
  }
  
  .input-unneed {
    font-size: 13px;
  }

  #error_explanation {
      color: red;
  }

  .alert {
      margin-top: 140px;
  }

  //// post showpage ////
  .post-show {
      display: block;
      margin: 80px 0 0 100px;
      .posts-title {
        padding-top: 100px;
        font-size: 50px;
        font-weight: bold;
      }
      .post-description {
          padding-bottom: 30px;
          font-size: 40px;
      }
      h5 {
          font-size: 15px;
      }
  }

  .edit-post {
    font-size: 30px;
    color: gray;
}

.delete-post {
    font-size: 30px;
    padding-left: 15px;
    color: gray;
}
  .post-picture img {
    max-width: 60%;
    height: auto;
    box-sizing: border-box;
    margin: 0 0 30px 40px;
  }

  .post-info {
    margin-bottom: 30px;
}

  //// follow ////
  .stats {
    margin: 5px 50px 0 50px;
    width: 360px;
  }
  .user_info {
      margin: 80px 0 0 50px;
      h1 {
          padding-top: 15px;
      }
      img {
          padding-top: 90px;
      }
      span {
        a {
          padding: 15px 15px 0 0;
          font-size: 20px; 
          color: gray;
        }
      }
  }

  .profile-follow-title {
    font-size: 25px;
    font-weight: bold;
    padding: 70px 0 25px 0;
    text-align: center;
}

  .btn-follow {
    margin: 40px 40px 0 40px;
    padding: 20px 40px;
    font-size: 30px;
}

strong#following {
    font-size: 35px;
}

strong#followers {
    font-size: 35px;
}

.btn-go-chat {
    margin: 0 0 30px 155px;
    border-color: palegoldenrod;
    background-color: palegoldenrod;
    font-size: 30px;
    color: black;
}

//// like ////
  .like-btn-unlike {
    color: red;
  }
  .like-btn-like {
    color: grey;
  }
  a.like, a.unlike {
    text-decoration: none;
  }
  
  .likes {
    list-style: none;
    margin-top: 150px;
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
  }
  .likes-user {
    color: gray;
    font-size: 25px;
    a {
        font-size: 25px;
        color: gray;
    }
}

.post-like-title {
    width: 700px;
    a {
        font-weight: bold;
        font-size: 35px;
        padding: 20px 0 0 0;
        border-top: 1px solid black;
        display: block;
        word-break: break-all;
    }
}

  .post-like-description {
    display: block;
    word-break: break-all;
    padding: 10px 20px;
    font-size: 30px;
}

.post-like-picture img {
    max-width: 80%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 30px;
}

ol {
    margin-bottom: 0;
}

.fa-heart {
    padding-bottom: 30px;
}

//// comment ////
  .title-comment {
    padding-top: 50px;
    font-weight: bold;
    font-size: 30px;
  }

  #comment_content {
    width: 100%;
    margin-top: 10px;
    height: 70px;
}
  
  .comments {
    list-style: none;
    li {
      font-size: 14px;
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
      .comment {
        display: block;
        word-break: break-all;
        font-size: 40px;
        width: 100%;
        padding-left: 40px;
      }
    }
  }

  .comment-delete a {
    display: inline-block;
    padding-top: 20px;
    font-size: 20px;
    color: gray;
}
  
  .user a {
    color: steelblue;
    font-size: 25px;
}
  .comment-create-at {
    font-size: 23px;
    color: grey;
  }

  .btn-comment {
    width: 70%;
    margin: 20px 0 70px 0;
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
    background-color: darkcyan;
    border-color: darkcyan;
}

 //// tabs ////
.nav-tabs a {
    font-size: 21px;
  }
  
//// talks ////
  .talks {
    list-style: none;
    padding: 0;
    a:hover {
      text-decoration: none;
    }
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
    .title {
      color: black;
      margin-top: 5em;
      padding-top: 0;
    }
    .content {
      color: black;
      display: block;
      margin-left: 60px;
    }
    .timestamp {
      color: gray;
      display: block;
      margin-left: 60px;
    }
    .delete {
      float: right;
    }
    .gravatar {
      float: left;
      margin: 5px 10px 0 0;
    }
  }

  .btn-chat {
    margin-left: 130px;
    padding: 20px 40px;
    font-size: 30px;
    margin: 20px 0 30px 0;
    border-color: palegoldenrod;
    background-color: palegoldenrod;
    border-style: none;
}

  /* messages */
.messages {
    list-style: none;
    padding: 0;
    li {
      padding: 5px;
    }
    .balloon {
      padding: 10px 15px;
      border: solid 1px #bbbbbb;
      margin: 0 70px;
    }
    .balloon-left {
      border-radius: 0 20px 20px 20px / 0 20px 20px 20px;
    }
    .balloon-right {
      border-radius: 20px 0 20px 20px / 20px 0 20px 20px;
    }
    .user {
      margin-top: 5em;
      padding-top: 0;
    }
    .content {
      color: black;
      display: block;
      word-break: break-all;
    }
    .timestamp {
      color: gray;
      display: block;
    }
    .delete {
      float: right;
    }
    .gravatar-left {
      float: left;
      margin-right: 10px;
    }
    .gravatar-right {
      float: right;
      margin-right: 0;
    }
  }
  
 //// message form ////
  
  .message-form {
    height: 80px;
    margin: 10px 0;
    padding: 10px 70px 0 70px;
    &:after {
      display: block;
      content: "";
      clear: both;
    }
    .field {
      float: left;
      width: 85%;
    }
    .content {
      height: 70px;
      margin-bottom: 0;
    }
    .btn {
      float: left;
      width: 15%;
      height: 100% !important;
    }
  }
  
  #message_content {
      width: 80%;
      margin-left: 40px;
  }
  
.massage-title {
    padding: 200px 0 20px 0;
    font-weight: bold;
    text-align: center;
}

.dm-title {
    padding-bottom: 30px;
}

.btn-primary1 {
    margin-top: 20px;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
  }

  .btn-record {
    margin-top: 5em;
    background-color: darkcyan;
    border-color: darkcyan;
}

//// notification ////
.users-index {
    margin: 0 70px;
    padding-bottom: 10px;
}

.moderate-font {
    font-size: 25px;
    color: gray;
}

  .sub-title {
    padding: 200px 0 25px 0;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  .notification-view {
    margin-bottom: 10px;
    border-bottom: 2px solid gainsboro;
    padding: 20px 0;
    font-size: 30px;
    a {
      color: black;
      font-size: 45px;
    }
}

  .notification-circle {
     color: rgb(127, 255, 0);
     position: absolute;
     padding-top: 3.5rem;
  }

  .notification-comment {
    display: block;
    word-break: break-all;
    font-size: 35px;
}

//// problem ////
.problem-user-name {
    display: inline-block;
    font-size: 50px;
    padding: 200px 0 0 30px;
}

.problem-post-description {
    display: block;
    word-break: break-all;
    padding: 20px 0 100px 90px;
    font-size: 50px;
    font-weight: normal;
}

.change-problem-post {
    display: inline-block;
    margin-left: 100px;
}

.problem-post-show {
    display: block;
    margin: 80px 0 0 30px;
}

.problem-user-picture img {
    width: 70px;
    margin-bottom: 30px;
}

.edit-problem-post {
    font-size: 30px;
    color: gray;
}

.delete-problem-post {
    font-size: 30px;
    padding-left: 15px;
    color: gray;
}

#problem_comment_content {
    width: 70%;
    height: 70px;
}

//// search ////
form#post_search {
    margin-top: 200px;
    width: 1000px;
}

input#q_title_cont {
    width: 100%;
    font-size: 30px;
}

.form-group input.btn.btn-primary {
    width: 100%;
    padding: 10px 275px 10px 275px;
    font-size: 30px;
    background-color: darkcyan;
    border-color: darkcyan;
}

#searchs {
    padding-top: 200px;
}

@media screen and (min-width: 768px) {
//// main ////
  .help {
    img {
      width: 50%;
      height: 50%;
    }
    .description {
      font-size: 15px;;
    }
  }
  .make {
    height: 1600px;
    h1 {
      margin-top: 400px;
    }
  }

//// btn ////
.btn-lg, .btn-group-lg > .btn {
    padding: 1rem 2rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.btn-record1 {
    background-color: darkcyan;
    border-color: darkcyan;
}

//// profilepage ////
  .user-profile {
    margin-top: 140px;
}
}

//// follow ////
.follow-index {
    margin-left: 60px;
}

//// col-md ////
.col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

//// pagination ////
.pagination {
    margin-top: 30px;
    padding-bottom: 30px;
}


//// PC向け ////
@media screen and (min-width: 1024px) {
.navbar {
  height: 90px;
}

#title {
    font-size: 30px;
}

//// sign_up ////
.signup-block {
    height: 850px;
    position: relative; 
    .signup-group {
      height: 650px;
      width: 700px;
      transform: translate(-50%, -40%);
    }
    .sign-title {
      font-size: 30px;
      padding: 60px 0 10px 0;
    }
    .form-control {
      width: 60%;
      padding: 5px 0;
    }
    label {
      font-size: 20px;
      padding: 15px 0 10px 130px;
    }
    .btn-primary {
      font-size: 25px;
      width: 300px;
      margin-top: 40px;
      padding: 0;
    }
  }

  //// main ////
  #title {
    font-size: 40px;
  }
  #title-image {
    h1 {
      font-size: 40px;
      top: 80%;
    }

    p {
      font-size: 20px;
      bottom: -20%;
    }
  }
  .help {
    h3 {
      font-size: 30px;
    }
    h1 {
      font-size: 50px;
    }
    img {
      width: 80%;
      height: 80%;
    }
    .flex{
      display:flex;
      flex-wrap:nowrap;
      justify-content:space-between;
    }
    .img-item+.img-item{
      margin-left:1.0em;
    }
    .description {
      font-size: 16px;
    }
  }

  .btn-record {
    margin: 10em 0 0 0;
    background-color: darkcyan;
    border-color: darkcyan;
}

//// postspage ////
.posts {
    .description {
        margin-left: 60px;
        font-size: 25px;
    }
    .timestamp {
        font-size: 20px;
    }
}
.title a {
    font-size: 25px;
}

  .feature-item {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .make {
    height: 700px;
    h1 {
      margin-top: 150px;
    }
  }

  .go {
    padding-bottom: 20px;
    .btn-primary {
      font-size: 25px;
      padding: 20px 60px;
      background: rgb(127, 255, 0);
    }

    .post-title {
        padding-top: 120px;
        font-size: 30px;
    }
  }

  //// indexpage ////
  .user-name {
    font-size: 21px;
}
  .index-summary {
      .pagination {
          margin-left: 190px;
      }
  }
  .users {
    margin: 0 150px;
}

.users-title {
    font-size: 30px;
    padding-top: 10px;
}

.users-index {
    margin: 0 200px;
    padding-bottom: 10px;
}

.alert {
    margin-top: 90px;
}

//// profilepage ////
.profile-title {
    margin-top: 0;
}

//// post showpage////
.post-show {
    .posts-title {
      padding-top: 50px;
    }
  }

//// like ////
.likes {
    margin-top: 100px;
}

.fa-heart {
    font-size: 25px;
}

.sub-title {
    padding-top: 120px;
  }

//// message ////
.massage-title {
    padding-top: 120px;
}

.user_info {
    img {
        padding-top: 40px;
    }
}

.moderate-font {
    font-size: 15px;
}

.sub-title {
    font-size: 35px;
}

//// notification ////
.notification-view {
    font-size: 20px;
    padding: 10px 0;
    a {
        font-size: 25px;
    }
}
.notification-comment {
    font-size: 25px;
}

.notification-circle {
    padding: 0.5rem 0 0 6.4rem;
}

//// problem ////
.problem-user-name {
    display: inline-block;
    font-size: 40px;
    padding-top: 100px;
}

.problem-post-description {
    padding-left: 100px;
    font-size: 40px;
}

.problem-post-show {
    margin: 80px 0 0 100px;
}

.edit-problem-post {
    font-size: 25px;
    color: gray;
}

.delete-problem-post {
    font-size: 25px;
}
}