<header>
   <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a id="title" class="navbar-brand" href="#">Chi-Sha</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul id="subtitle" class="navbar-nav">
          <li class="nav-item">
            <%= link_to  "新規登録", "#" %>
          </li>
          <li class="nav-item">
            <%= link_to  "ログイン", "#" %>
          </li>
        </ul>
      </div>
    </nav>
</header> 